<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml" >


<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>O'Brien Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="fontawesome-free/css/all.css" rel="stylesheet">
  <link href="fonts/nunito-v12-latin/nunito-v12-latin.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/obrien-theme.css" rel="stylesheet">

</head>

<body id="page-top">
<section layout:fragment="main"></section>



<script src="js/jquery/jquery.min.js"></script>
<script src="js/backstretch/jquery.backstretch.js"></script>
<script>
  // To attach Backstrech as the body's background
  $.backstretch([
    "img/backgrounds/b1.png",
    "img/backgrounds/b2.png",
    "img/backgrounds/b3.png",
    "img/backgrounds/b4.png",
    "img/backgrounds/b5.png",
    "img/backgrounds/b6.png",
    "img/backgrounds/b7.png"

  ], {duration: 10000, fade: 1000, start: Math.floor(Math.random() * 8)});
</script>

</body>

</html>
