<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{portal-layout}">

<section layout:fragment="work">
    <!-- Start Work - Delete Me Here -->
    <div class="jumbotron">
        <h1 class="text-center">Blank Page</h1>
        <p class="text-center">Your Content Goes Here</p>
    </div>
    <!-- End Work - Delete Stop -->

</section>
<section layout:fragment="extra-js">
    <script type="text/javascript">
        sideNavPageActivate('pages', 'blank')
    </script>
</section>
</html>