.twitter-typeahead {
  width: 100%; }
.twitter-typeahead .tt-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(160, 160, 160, 0.5); }
.twitter-typeahead .tt-suggestion {
  padding: .4rem 1rem; }
.twitter-typeahead .tt-suggestion:hover {
  background-color: rgba(160, 160, 160, 0.12); }

.twitter-typeahead {
  display: block !important; }

#multiple-datasets .league-name {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid rgba(160, 160, 160, 0.25); }

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto; }

